<h2><span>New Scenario: </span>{{newScenarioForm.value.scenarioName}}</h2>

<form [formGroup]="newScenarioForm" (ngSubmit)="saveNewScenario()">

  <p><label>
  Scenario Name:
  <input type="text" formControlName="scenarioName">
</label></p>

  <p><label>
  Description:
  <input type="text" formControlName="scenarioDescription">
</label></p>


<table class="scenario-detail">
  <caption>Features</caption>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
      <ng-container *ngFor="let sd of features">
         <tr>
           <td>{{sd.featureName}}</td>
           <td>
             <select formControlName="{{sd.formControlName}}">
                <option *ngFor="let selectionOption of featureSelectionOption">
                  {{selectionOption}}
                </option>
              </select>
           </td>
         </tr>
      </ng-container>
</table>

<ng-container *ngFor="let tbl of ScenarioNewStructure">
  <table class="scenario-detail">
    <caption>{{tbl.tableCaption}}</caption>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      <ng-container *ngFor="let tblRow of tbl.settingRows">
         <tr>
           <td>{{tblRow.rowName}}</td>
           <td>
             <select formControlName="{{tblRow.rowFormControlName}}">
                <option value=""></option>
                <option *ngFor="let settingOption of tblRow.settingOptions">
                  {{settingOption.name}}
                </option>
              </select>
           </td>
        </tr>
      </ng-container>
  </table>
</ng-container>

<button class="button-primary">Validate Scenario (inactive)</button>

<button type="submit" [disabled]="!newScenarioForm.valid"
        class="button-primary">
  Save Scenario</button>
</form>
