<h2>My Scenarios</h2>
<button ng-click="newScenario" class="button-primary">
        <a [routerLink]="['/scenario-new']">New scenario</a>
</button>
<button ng-click="updateScenarios" class="button-primary"
        (click)="updateScenarios()">Update scenarios list</button>
<ul class="scenarios">
  <li *ngFor="let scenario of scenarios">
    <a [routerLink]="['/scenario', scenario.id]">
      {{ scenario.name }}
    </a>
  </li>
</ul>
<button ng-click="newScenario" class="button-primary">
        <a [routerLink]="['/scenario-new']">New scenario</a>
</button>
