<h2>My Scenarios</h2>
<button ng-click="newScenario" class="button-primary">
        <a [routerLink]="['/scenario-new']">New scenario</a>
</button>
<button ng-click="updateScenarios" class="button-primary"
        (click)="updateScenarios()">Update scenarios list</button>
<ul class="scenarios">
  <li *ngFor="let scenario of scenarios">
    <a [routerLink]="['/scenario', scenario.id]">
      {{ scenario.name }}
    </a>
  </li>
</ul>


<table >
<tr>
<th>Scenario Name</th>
<th>Validation Status</th>
<th>Run Status</th>
</tr>
  <ng-container *ngFor="let scenario of scenarios">
     <tr>
       <td>
         <button class="button-primary">
            <a [routerLink]="['/scenario', scenario.id]">{{ scenario.name }}
            </a>
          </button>
       </td>
       <td>{{scenario.validationStatus}}</td>
       <td>{{scenario.runStatus}}</td>
     </tr>
  </ng-container>
</table>
