/* scenariosComponent's private CSS styles */
.scenarios-table th {
  background-color: midnightblue;
  color: white;
}

.scenarios-table th, td {
  padding:5px;
  text-align: left;
  font-size: medium;
}

.scenarios-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.scenarios-table caption {
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 1px;
}

#table-row {
  padding-top: 20px
}



