alabaster==0.7.16
annotated-doc==0.0.4
asttokens==3.0.1
attrs==26.1.0
babel==2.18.0
black==26.5.1
bokeh==3.8.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
contourpy==1.3.3
coverage==7.14.1
coveralls==4.1.0
decorator==5.3.1
df2img==0.2.21
dill==0.3.8
docutils==0.20.1
duckdb==1.4.0
executing==2.2.1
fastjsonschema==2.21.2
GridPath==2026.3.0
gurobipy==13.0.2
highspy==1.14.0
idna==3.17
imagesize==2.0.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
kaleido==0.2.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mdurl==0.1.2
mypy_extensions==1.1.0
narwhals==2.21.2
nbformat==5.10.4
networkx==3.5
nose==1.3.7
numpy==2.4.6
packaging==26.2
pandas==2.3.2
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.10.0
plotly==6.7.0
ply==3.11
prompt_toolkit==3.0.52
pscript==0.8.0
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyomo==6.9.4
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2026.2
PyUtilib==6.0.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rich==15.0.0
rpds-py==2026.5.1
shellingham==1.5.4
six==1.17.0
snowballstemmer==3.1.0
Sphinx==7.2.6
sphinx-argparse==0.4.0
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
tornado==6.5.6
traitlets==5.15.0
typer==0.26.2
tzdata==2026.2
urllib3==2.7.0
wcwidth==0.7.0
xyzservices==2026.3.0
