<div class="container-fluid">
  <div class="row" id="status-heading">
    <div class="col-md-auto">
      <h4>Welcome to GridPath</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <table class="status-table">
        <tr>
        <th>Name</th>
        <th>Status</th>
        </tr>
        <tr>
          <td>Server</td>
          <td [ngClass]="{
              'red' : serverStatus == 'down',
              'green' : serverStatus == 'running'
           }">{{serverStatus}}</td>
          <td><button id="checkServerStatusClick" class="button-secondary"
              (click)="updateServerStatus()">Update server status</button></td>
        </tr>
        <tr>
          <td>GridPath Directory</td>
          <td [ngClass]="{
              'red' : directoryStatus == 'restart required',
              'green' : directoryStatus == 'set'
           }">{{directoryStatus}}</td>
        </tr>
        <tr>
          <td>GridPath Database</td>
          <td [ngClass]="{
              'red' : databaseStatus == 'restart required',
              'green' : databaseStatus == 'set'
           }">{{databaseStatus}}</td>
        </tr>
        <tr>
          <td>Python Directory</td>
          <td [ngClass]="{
              'red' : pythonStatus == 'restart required',
              'green' : pythonStatus == 'set'
           }">{{pythonStatus}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>
