.red {
  color: red
}
.green {
  color: green
}
.orange {
  color: orangered;
}

.status-table th {
  background-color: midnightblue;
  color: white;
}

.status-table th, td {
    padding: 5px;
    text-align: left;
}

.status-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.status-table td:first-child {
  background-color: lightsteelblue;
}

.status-table caption {
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 1px;
}

#status-heading {
  padding-top: 20px
}
