<div class="container-fluid">
  <div class="row" id="status-heading">
    <div class="col-md-auto">
      <h4>Welcome to GridPath</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <table class="status-table">
        <tr>
        <th>UI Status</th>
        <th>Status</th>
        </tr>
        <tr>
          <td>Server</td>
          <td [ngClass]="{
              'red' : serverStatus == 'down',
              'green' : serverStatus == 'running'
           }">{{serverStatus}}
          </td>
        </tr>
        <tr>
          <td>Scenarios Directory</td>
          <td [ngClass]="{
              'orangered' : directoryStatus == 'restart required',
              'red' : directoryStatus == 'not set',
              'green' : directoryStatus == 'set'
           }">{{directoryStatus}}</td>
        </tr>
        <tr>
          <td>GridPath Database</td>
          <td [ngClass]="{
              'orangered' : databaseStatus == 'restart required',
              'red' : databaseStatus == 'not set',
              'green' : databaseStatus == 'set'
           }">{{databaseStatus}}</td>
        </tr>
        <tr>
          <td>Python Directory</td>
          <td [ngClass]="{
              'orangered' : pythonStatus == 'restart required',
              'red' : pythonStatus == 'not set',
              'green' : pythonStatus == 'set'
           }">{{pythonStatus}}</td>
        </tr>

      </table>
    </div>

    <div class="col-md-auto">
      <table class="status-table">
        <tr>
        <th>Solver Status</th>
        <th>Status</th>
        </tr>
        <tr>
          <td>Solver 1</td>
          <td [ngClass]="{
              'orangered' : solver1Status == 'restart required',
              'red' : solver1Status == 'not set',
              'green' : solver1Status == 'set'
           }">{{solver1Status}}</td>
        </tr>
        <tr>
          <td>Solver 2</td>
          <td [ngClass]="{
              'orangered' : solver2Status == 'restart required',
              'red' : solver2Status == 'not set',
              'green' : solver2Status == 'set'
           }">{{solver2Status}}</td>
        </tr>
        <tr>
          <td>Solver 3</td>
          <td [ngClass]="{
              'orangered' : solver3Status == 'restart required',
              'red' : solver3Status == 'not set',
              'green' : solver3Status == 'set'
           }">{{solver3Status}}</td>
        </tr>

      </table>
    </div>

    <div class="col-md-auto">
      <table class="status-table">
        <tr>
        <th>Run Status</th>
        <th>Number of Scenarios</th>
        </tr>
        <ng-container *ngFor="let status of scenarioRunStatus">
          <tr>
            <td>{{status[0]}}</td>
            <td [ngClass]="{
              'orange' : status[0] == 'running',
              'green' : status[0] == 'complete',
              'red' : status[0] == 'run_error'
           }">{{status[1]}}</td>
          </tr>
        </ng-container>
      </table>
    </div>

    <div class="col-md-auto">
      <table class="status-table">
        <tr>
        <th>Validation Status</th>
        <th>Number of Scenarios</th>
        </tr>
        <ng-container *ngFor="let status of scenarioValidationStatus">
          <tr>
            <td>{{status[0]}}</td>
            <td [ngClass]="{
              'green' : status[0] == 'valid',
              'red' : status[0] == 'invalid'
           }">{{status[1]}}</td>
          </tr>
        </ng-container>
      </table>
    </div>

  </div>

</div>
