/* You can add global styles to this file, and also import other style files */
body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}

.button-primary {
  background:aliceblue;
  color:midnightblue;
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  cursor:pointer;
  border-radius: 4px;
}

.button-primary:hover {
  background-color: darkblue;
  color: white
}
