<button id="goBackButtonTop" class="button-primary"
      (click)="goBack()">Back</button>

<h2>{{scenarioName}}<span> Scenario Details</span></h2>

<ng-container *ngFor="let tbl of scenarioDetailStructure">
  <table class="scenario-detail">
    <caption>{{tbl.tableCaption}}</caption>
  <tr>
  <th>Name</th>
  <th>Value</th>
  <th>View Data</th>
  </tr>
    <ng-container *ngFor="let sd of tbl.settingRows">
       <tr>
         <td>{{sd.name}}</td>
         <td>{{sd.value}}</td>
          <td><button (click)="viewData(sd.name)">
            View Data
          </button></td>
       </tr>
    </ng-container>
  </table>
</ng-container>

<button id="editScenarioButton" class="button-primary"
      (click)="editScenario()">Edit Scenario</button>

<button id="runScenarioButton" class="button-primary"
      (click)="runScenario(scenarioID)">Run Scenario</button>

<button id="goBackButtonBottom" class="button-primary"
      (click)="goBack()">Back</button>
