<div class="container-fluid">
<button id="goBackButtonTop" class="button-primary"
      (click)="goBack()">Back</button>

<h2>{{scenarioName}}<span> Scenario Details</span></h2>

<ng-container *ngFor="let tbl of scenarioDetailStructure">
  <table class="scenario-detail">
    <caption>{{tbl.scenarioDetailTableCaption}}</caption>
  <tr>
  <th>Name</th>
  <th>Value</th>
  <th *ngIf="tbl.scenarioDetailTableCaption!=='Features'">View Data</th>
  </tr>
    <ng-container *ngFor="let sd of tbl.scenarioDetailTableRows">
       <tr>
         <td>{{sd.rowCaption}}</td>
         <td>{{sd.rowValue}}</td>
          <td *ngIf="tbl.scenarioDetailTableCaption!=='Features'"><button
            (click)="viewData(tbl.uiTableNameInDB, sd.uiRowNameInDB)">
            View Data
          </button></td>
       </tr>
    </ng-container>
  </table>
</ng-container>

<button id="editScenarioButton" class="button-primary"
      (click)="editScenario()">Edit Scenario</button>

<button id="runScenarioButton" class="button-primary"
      (click)="runScenario(scenarioID)">Run Scenario</button>

<button id="goBackButtonBottom" class="button-primary"
      (click)="goBack()">Back</button>
</div>
