/* scenarioDetailComponent's private CSS styles */

.scenario-detail th {
  background-color: midnightblue;
  color: white;
}

.scenario-detail th, td {
    padding: 5px;
    text-align: left;
}

.scenario-detail tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.scenario-detail td:first-child {
  background-color: lightsteelblue;
}

.scenario-detail caption {
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 1px;
}

#scenario-detail-heading {
  padding-top: 20px
}

#solvers {
  background: aliceblue
}

#solvers label {
  background: midnightblue;
}

.orange {
  color: orange;
}

.green {
  color: green
}

.red {
  color: red;
}
