<div class="container-fluid">

  <h2><span>New Scenario: </span>{{newScenarioForm.value.scenarioName}}</h2>

  <div class="row" id="populate-from-div">
    <div class="col-md-auto">
      <form [formGroup]="fromScenarioForm" (ngSubmit)="getStartingValuesFromScenario()">
        <select class="custom-select"
                formControlName="populateFromScenarioID">
          <ng-container>
            <option *ngFor="let scenario of allScenarios" value="{{scenario.id}}"
            >{{scenario.name}}</option>
          </ng-container>
        </select>
          <button class="button-secondary" id="populateFromScenarioButton"
            type="submit">Populate from Scenario </button>
      </form>
    </div>
  </div>

  <form [formGroup]="newScenarioForm" (ngSubmit)="saveNewScenario()">

    <p><label>
    Scenario Name:
    <input type="text" formControlName="scenarioName">
    </label></p>

    <p><label>
    Description:
    <input type="text" formControlName="scenarioDescription">
    </label></p>

  <ng-container *ngFor="let tbl of scenarioNewStructure">
    <table class="scenario-detail">
      <caption>{{tbl.tableCaption}}</caption>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th *ngIf="tbl.uiTableNameInDB!=='features'">View Data</th>
          </tr>
        <ng-container *ngFor="let tblRow of tbl.settingRows">
           <tr>
             <td>{{tblRow.rowName}}</td>
             <td *ngIf="tbl.uiTableNameInDB=='features'">
               <input type="checkbox"
                      formControlName="{{tblRow.rowFormControlName}}"
                      [checked]="startingValues[tblRow.rowFormControlName]">
             </td>
             <td *ngIf="tbl.uiTableNameInDB!=='features'">
               <select formControlName="{{tblRow.rowFormControlName}}">
                  <option value=""></option>
                  <!--[ngValue]="settingOption.name" needed for initial
                  values to work-->
                  <option *ngFor="let settingOption of tblRow.settingOptions"
                  [ngValue]="settingOption.name"
                  >
                    {{settingOption.name}}
                  </option>
                </select>
             </td>
             <td *ngIf="tbl.uiTableNameInDB!=='features'">
               <button
                 (click)="viewData(tbl.uiTableNameInDB, tblRow.uiRowNameInDB)">
                 View Data</button>
             </td>
          </tr>
        </ng-container>
    </table>
  </ng-container>
  <button type="submit" [disabled]="!newScenarioForm.valid"
          class="button-primary">Save Scenario</button>
  </form>

  <button id="goBackButton" class="button-primary"
        (click)="goBack()">Back</button>

</div>
