<h1>{{title}}</h1>

<nav class="navbar">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active-item">
              <a class="nav-link" routerLink="scenarios">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active-item">
              <a class="nav-link" routerLink="scenarios">Scenarios</a>
            </li>
            <li class="nav-item" routerLinkActive="active-item"
                style="float:right">
              <a class="nav-link" routerLink="settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

