<div class="container-fluid">
  <h2>Settings</h2>
  <div>
    <input class="u-full-width" size="50" placeholder="Scenarios folder"
      type="text" [(ngModel)]="requestedScenariosDirectory">
    <button id="browseScenariosDirectory" class="button-primary"
            (click)="browseScenariosDirectory()">Browse</button>
  </div>
  <div><span>Current scenarios folder setting: </span>{{currentScenariosDirectory}}</div>
  <div>
      <input class="u-full-width" size="50" placeholder="GridPath database"
             type="text"
             [(ngModel)]="requestedGridPathDB">
      <button id="browseGPDatabase" class="button-primary"
              (click)="browseGPDatabase()">Browse</button>
  </div>
  <div><span>Current GridPath database setting: </span>{{currentGridPathDB}}</div>
  <div>
      <input class="u-full-width" size="50" placeholder="Python binary"
             type="text"
             [(ngModel)]="requestedPythonDirectory">
      <button id="browsePythonBinary" class="button-primary"
              (click)="browsePythonBinary()">Browse</button>
  </div>
  <div><span>Current Python binary setting: </span>{{currentPythonDirectory}}</div>

</div>
