<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
      <button id="goBackButtonTop" class="button-primary"
            (click)="goBack()">Back</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <table class="scenario-detail">
        <caption>Descriptions</caption>
        <tr>
          <th>Scenario</th>
          <th>{{baseScenarioValues.scenario_name}}</th>
          <ng-container
              *ngFor="let scenarioToCompareValues of scenariosToCompareValues">
              <th>{{scenarioToCompareValues.scenario_name}}</th>
          </ng-container>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{baseScenarioValues.scenario_description}}</td>
          <ng-container
              *ngFor="let scenarioToCompareValues of scenariosToCompareValues">
              <td>{{scenarioToCompareValues.scenario_description}}</td>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <ng-container *ngFor="let tbl of settingTables">
        <table class="scenario-detail">
          <caption>{{tbl.tableCaption}}</caption>
          <tr>
            <th>Setting/Scenario</th>
            <th>{{baseScenarioValues.scenario_name}}</th>
            <ng-container
              *ngFor="let scenarioToCompareValues of scenariosToCompareValues">
              <th>{{scenarioToCompareValues.scenario_name}}</th>
            </ng-container>
            <th *ngIf="tbl.uiTableNameInDB!=='features'">View Descriptions</th>
            <th *ngIf="tbl.uiTableNameInDB!=='features'">View Inputs</th>
          </tr>
          <ng-container *ngFor="let tblRow of tbl.settingRows">
            <tr>
              <td>{{tblRow.rowName}}</td>
              <td *ngIf="tbl.uiTableNameInDB!=='features'">
                {{baseScenarioValues[tblRow.rowFormControlName]}}
              </td>
              <td *ngIf="tbl.uiTableNameInDB=='features'">
                 <input type="checkbox" [checked]="baseScenarioValues[tblRow.rowFormControlName]" disabled>
              </td>
              <ng-container *ngFor="let scenarioToCompareValues of
              scenariosToCompareValues">
                <td *ngIf="tbl.uiTableNameInDB!=='features'"
                    [ngClass]="{'red':
                    scenarioToCompareValues[tblRow.rowFormControlName] !==
                    baseScenarioValues[tblRow.rowFormControlName]
                    }">
                  {{scenarioToCompareValues[tblRow.rowFormControlName]}}
                </td>
                <td *ngIf="tbl.uiTableNameInDB=='features'"
                    [ngClass]="{'background-red':
                    scenarioToCompareValues[tblRow.rowFormControlName] !==
                    baseScenarioValues[tblRow.rowFormControlName]
                    }">
                  <input type="checkbox"
                         [checked]="scenarioToCompareValues[tblRow.rowFormControlName]"
                         disabled>
                </td>
              </ng-container>
                <td *ngIf="tbl.uiTableNameInDB!=='features'">
                  <button class="button-secondary"
                   (click)="viewDescriptions(tbl.uiTableNameInDB,
                   tblRow.uiRowNameInDB)">
                   View Descriptions
                  </button>
                </td>
                <td *ngIf="tbl.uiTableNameInDB!=='features'">
                  <button class="button-secondary"
                   (click)="viewInputs(tbl.uiTableNameInDB, tblRow.uiRowNameInDB)">
                   View Inputs
                  </button>
                </td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </div>
  </div>
</div>
