<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
      <button id="goBackButtonTop" class="button-primary"
            (click)="goBack()">Back</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <button id="compareInputs" class="button-primary"
            (click)="compareScenarioInputs()">Compare Scenario Inputs</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <button id="compareResults" class="button-primary"
            (click)="compareScenarioResults()">Compare Scenario Results
      (inactive)</button>
    </div>
  </div>
</div>
