<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
      <button id="goBackButtonTop" class="button-primary"
            (click)="goBack()">Back</button>
    </div>
  </div>


  <h5 id="scenario-detail-heading">Scenario Selection</h5>
  <form [formGroup]="scenariosToCompareForm">
    <table class="scenario-detail">
    <tr>
      <th>Scenario</th>
      <th>Choose Base Scenario</th>
      <th>Select Scenarios to Compare</th>
    </tr>
      <ng-container
        *ngFor="let scenario of allScenarios; let i=index">
        <tr>
          <td>{{allScenarios[i].name}}</td>
          <td>
            <label>
              <input type="radio" formControlName="baseScenario"
               [value]="allScenarios[i].id">
            </label>
          </td>
          <td>
            <label formArrayName="scenariosToCompare">
              <input type="checkbox" [formControlName]="i">
            </label>
          </td>
        </tr>
      </ng-container>
    </table>
    <button name="compareInputs" type="submit"
            class="button-primary"
            (click)="compareScenarioInputs()">Compare Inputs
    </button>
    <button name="compareResults" type="submit"
        class="button-primary"
            (click)="compareScenarioResults()"
    >Compare Results
    </button>
  </form>

<!--      Results Forms (have options the user must select) -->
  <h6 id="plots-title" *ngIf="showResultsButtons == true">Results Plots</h6>
  <div class="navbar navbar-expand-sm" id="plots-navbar"
       *ngIf="showResultsButtons == true">
    <ul class="navbar-nav">
      <ng-container *ngFor="let formGroup of allPlotFormGroups">
        <li class="form-group-list-item">
          <div id="plotFormCaption">{{formGroup.value['caption']}}</div>
          <form [formGroup]="formGroup"
                (ngSubmit)="showResultsPlots(formGroup)">
            <fieldset class="input-group-vertical">
              <div class="form-group">
                <select class="custom-select" formControlName="loadZone"
                        *ngIf="formGroup.value['loadZone'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.loadZoneOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="rpsZone"
                        *ngIf="formGroup.value['rpsZone'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.rpsZoneOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="carbonCapZone"
                        *ngIf="formGroup.value['carbonCapZone'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.carbonCapZoneOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="period"
                        *ngIf="formGroup.value['period'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.periodOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="horizon"
                        *ngIf="formGroup.value['horizon']!=='default'">
                  <ng-container
                    *ngFor="let opt of formOptions.horizonOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="subproblem"
                        *ngIf="formGroup.value['subproblem'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.subproblemOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="stage"
                        *ngIf="formGroup.value['stage'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.stageOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
                <select class="custom-select" formControlName="project"
                        *ngIf="formGroup.value['project'] !== 'default'">
                  <ng-container
                    *ngFor="let opt of formOptions.projectOptions">
                    <option>{{opt}}</option>
                  </ng-container>
                </select>
              </div>
            </fieldset>
            <p><label id="yMaxLabel">
            Ymax (MW):
            <input type="text" formControlName="yMax">
            </label></p>
            <button name="showPlot" type="submit"
                    class="navbar-results-button">Show Plots
            </button>
          </form>
        </li>
        </ng-container>
    </ul>
  </div>
</div>
