<h2>My Scenarios</h2>
<button ng-click="updateScenarios" class="button-primary"
        (click)="updateScenarios()">Update scenarios list</button>
<ul class="scenarios">
  <li *ngFor="let scenario of scenarios"
    [class.selected]="scenario === selectedScenario"
    (click)="onSelect(scenario)">
    <span class="badge">{{scenario.id}}</span> {{scenario.name}}
  </li>
</ul>
<div *ngIf="selectedScenario">
  <h2>{{selectedScenario.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedScenario.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedScenario.name" placeholder="name">
    </label>
  </div>
</div>
