<button id="goBackButtonTop" class="button-primary"
      (click)="goBack()">Back</button>

<table class="view-data-table" *ngIf="dataToShow=='temporal'">
  <caption>Timepoints</caption>
<tr>
<th>temporal_scenario_id</th>
<th>subproblem_id</th>
<th>stage_id</th>
<th>timepoint</th>
<th>horizon</th>
<th>period</th>
<th>number_of_hours_in_timepoint</th>
<th>previous_stage_timepoint_map</th>
<th>spinup_or_lookahead</th>
</tr>
  <ng-container *ngFor="let row of timepointsTemporalRows">
     <tr>
       <td>{{row.temporal_scenario_id}}</td>
       <td>{{row.subproblem_id}}</td>
       <td>{{row.stage_id}}</td>
       <td>{{row.timepoint}}</td>
       <td>{{row.horizon}}</td>
       <td>{{row.period}}</td>
       <td>{{row.number_of_hours_in_timepoint}}</td>
       <td>{{row.spinup_or_lookahead}}</td>
     </tr>
  </ng-container>
</table>

<button id="goBackButtonBottom" class="button-primary"
      (click)="goBack()">Back</button>
