<h2>Settings</h2>
<div>
    <input class="u-full-width" placeholder="GridPath folder" type="text"
           [(ngModel)]="gridPathFolder">
    <button id="browseGPFolder" class="button-primary"
            (click)="browseGPFolder()">Browse</button>
    <input id="GPFolderInput" type="file" style="display: none" />
</div>
<div>
    <input class="u-full-width" placeholder="GridPath database" type="text"
           [(ngModel)]="gridPathDB">
    <button id="browseGPDatabase" class="button-primary"
            (click)="browseGPDatabase()">Browse</button>
    <input id="GPDatabaseInput" type="file" style="display: none" />
</div>
