/*Navbar styling*/
.navbar {
  background-color: midnightblue;
}

ul {
  border: 1px;
  outline: 5px white;
}

.nav-link {
  color: white;
}

li a:hover:not(.active) {
  background-color: lightsteelblue;
}

.active-item {
  background-color: slategrey;
}

#footer-div {
  padding-top: 20px;
}

#gridpath-link {
  font-size: small;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto
}
