/*Navbar styling*/
.navbar {
  background-color: midnightblue;
}

.nav-link {
  color: white;
}

li a:hover:not(.active) {
  background-color: lightsteelblue;
}

.active-item {
  background-color: slategrey;
}
