.scenario-results-table th {
  background-color: midnightblue;
  color: white;
}

.scenario-results-table th, td {
    padding: 5px;
    text-align: left;
    font-size: small;
}

.scenario-results-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.scenario-results-table caption {
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 1px;
}
