.scenario-results-table th {
  background-color: midnightblue;
  color: white;
}

.scenario-results-table th, td {
  padding: 5px;
  text-align: left;
  font-size: small;
}

.scenario-results-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.scenario-results-table caption {
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 1px;
}

#results-navbar {
  padding-top: 20px;
}

.navbar-results-button {
  font-size: small;
  background: aliceblue;
  color: midnightblue;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-results-button:hover {
  background-color: darkblue;
  color: white
}

#goBackButtonTop {
  padding-top: 10px;
}

.form-group-list-item {
  padding-left: 1px;
  background: aliceblue;
  list-style-position: inside;
  border: 1px solid darkgrey;
  border-radius: 5px

}

.custom-select {
  width: auto;
  font-size: small;
  font-weight: lighter;
  background: aliceblue;
  color: midnightblue
}
